name: MicroPython
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: msbuild
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '[17,18)'
          msbuild-architecture: x86
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: micropython/micropython
          ref: v1.26.1
          fetch-depth: 1
      - name: Build
        shell: pwsh
        run: |
          msbuild mpy-cross\mpy-cross.vcxproj /m /p:Configuration=Release /p:Platform=x64 /p:Optimize=true
          git submodule update --init lib/micropython-lib
          msbuild ports\windows\micropython.vcxproj /m /p:Configuration=Release /p:Platform=x64 /p:PyVariant=standard /p:Optimize=true
          mkdir result
          mv mpy-cross\build\mpy-cross.exe result/
          mv ports\windows\build-standard\micropython.exe result/
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: MicroPython
          path: result/*
