name: CPython
on:
  workflow_dispatch:
    inputs:
      version:
        description: '版本号'
        required: true
jobs:
  Build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: python/cpython
          ref: ${{ github.event.inputs.version }}
      - name: Build
        shell: pwsh
        run: |
          Tools/msi/buildrelease.bat -x64 --skip-doc --skip-msi
      - name: Result
        uses: actions/upload-artifact@v4
        with:
          path: PCbuild/amd64/en-us/*
